In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
4%2

0

In [7]:
5%2

1

In [8]:
(2+3)*(5+5)

50

변수 대입

In [9]:
# Can not start with number or special characters
# 변수는 숫자나 특수문자로 시작할 수 없다.
name_of_var = 2

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

In [13]:
2**4

16

In [14]:
1/2

0.5

Strings

In [15]:
'single quotes'

'single quotes'

In [16]:
"double quotes"

'double quotes'

In [17]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

# Data Type
Numbers

In [19]:
x = 'hello'

In [20]:
x

'hello'

In [21]:
print(x)

hello

In [22]:
num = 12

In [25]:
name = 'sam'

In [26]:
print('my number is: {one}, and my name is: {two}'.format(one=num,two=name))

my number is: 12, and my name is: sam

In [27]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: sam

In [33]:
num1 = 18

In [31]:
namel = 'gisoo'

In [35]:
print("나이 : {}, 그리고 이름은 : {}".format(num1,namel))

나이 : 18, 그리고 이름은 : gisoo

List

In [36]:
[1,2,3]

[1, 2, 3]

In [37]:
['h1',1,[1,2]]

['h1', 1, [1, 2]]

In [38]:
my_list = ['a','b','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'b', 'd']

In [41]:
my_list[0]

'a'

In [46]:
my_list[1]

'b'

In [42]:
my_list[1:]

['b', 'c', 'b']

In [45]:
my_list[]

['a', 'b', 'c', 'b', 'd']

In [48]:
my_list = ['a','b','c','d']

In [49]:
my_list

['a', 'b', 'c', 'd']

In [50]:
my_list[1:]

['b', 'c', 'd']

In [51]:
my_list[0]

'a'

In [52]:
my_list[1]

'b'

In [53]:
my_list[1:]

['b', 'c', 'd']

In [54]:
my_list[:1]

['a']

In [55]:
my_list[0] = 'NEW'

In [56]:
my_list

['NEW', 'b', 'c', 'd']

In [67]:
nest = [1,2,3,[4,5,['target']]]

In [58]:
nest[3]

[4, 5, ['target']]

In [59]:
nest[3][2]

['target']

In [60]:
nest[3][2][0]

'target'

In [68]:
nest[1]

2

Dictionaries

In [1]:
d = {'key1':'item1','key2':'item2'}

In [2]:
a = {'bar1':'bar2',"var1":"var2"}

In [3]:
a

{'bar1': 'bar2', 'var1': 'var2'}

In [5]:
a['var1']

'var2'

In [2]:
d

{'key1': 'item1', 'key2': 'item2'}

Dictionaries

In [3]:
d = {'key1': 'item1', 'key2':'item2'}
# 매핑(Mapping)
# 데이터이름 : 데이터 내용

In [4]:
d['key1']

'item1'

In [5]:
d['key2']

'item2'

Booleans : 참과 거짓을 표현하는 데이터 형태

In [8]:
True
# 1

True

In [7]:
False
# 0

False

Tuples

In [9]:
t = (1,2,3)

In [10]:
t[1]

2

In [11]:
t[2]

3

In [12]:
t[0]
# index

1

Sets

In [13]:
{1,2,3}

{1, 2, 3}

In [14]:
{1,2,3,1,2,1,2,3,3,3,1,2,3,3,}

{1, 2, 3}

Comparison Operators : 비교 연산자

In [15]:
1 > 2

False

In [16]:
1 < 2

True

In [21]:
1 >= 1
# > or =

True

In [18]:
1 <= 4
# > or = , 두 조건 중 하나만 성립하면 True

True

In [19]:
1 == 1
# = 대입 연산자
# == 같다.

True

In [20]:
'hi' == 'bye'

False

Logic Operators: 논리 연산자

In [22]:
(1 > 2) and (2 < 3)
# and 는 둘 다 참이어야만 참이다.

False

In [23]:
(1 > 2) or (2 < 3)
# or 는 둘 중 하나만 참이면 참이다.

True

In [24]:
(1 == 2) or (2 == 3) or (4 == 4)
# 3개(항의 개수) 중 하나만 참이면 참이다.

True

If,elif,else Statements

In [26]:
if 1 < 2:
    print('Yep!')

Yep!

In [27]:
if 1 < 2:
    print("Yep!")

Yep!

In [28]:
if 1 < 2:
    print('first')
else:
    print('last')
    # if문이 실행되는 조건은 1>2이어야 하는데, 1은 2보다 크지 않으므로, if문이 실행되지 않고, else문이 실행됩니다.

first

In [29]:
if 1 > 2: # true
    print('first')
else: # true가 아닐 경우, if문 조건에 맞지 않을 경우
    print('last')

last

In [30]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('Last')

middle

for Loops

In [19]:
sea = [1,5,6,1,76,6]

In [16]:
for item in sea:
    print(item)

1
5
6
1
76
6
1
5
6
1
76
6

In [22]:
for a in sea:
    print(a)

1
5
6
1
76
6

In [33]:
for item in sea:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [34]:
for jelly in sea:
    print(jelly+jelly)

2
4
6
8
10

While Loops

In [35]:
i = 1
while i < 5: # 1,2,3,4까지 실행됨
    print('i is: {}'.format(i)) # {}에 i를 넣는다.
    i = i+1 # 그 후 i에 1을 더한다.

i is: 1
i is: 2
i is: 3
i is: 4

range()

In [36]:
range(5)

range(0, 5)

In [37]:
for i in range(5): # 0부터 5개.
    print(i)

0
1
2
3
4

list comprehension

In [38]:
x = [1,2,3,4]

In [39]:
out = [] #list를 선언한다.
for item in x:
    out.append(item**2) #out이라는 이름의 list에 괄호 안 내용을 추가해라.
print(out)

[1, 4, 9, 16]

In [40]:
[item**2 for item in x]

[1, 4, 9, 16]

functions

In [2]:
# def 는 함수 명 앞에 놓여서 함수를 정의한다는 뜻.
# (param1 = 'default')는 parameter, 함수를 실행할 때 파라미터가 입력값으로 들어가 실행된다.
# 함수 내부에서 주석으로 처리하고자 하는 부분은 """로 시작하여 """로 끝내면 된다. 해당 사항은 함수 내용에 영향을 미치지 않는다.
# my_func라는 함수는 스티링 형태를 param1에 저장하여 param1을 프린트하는 기능을 가졌다.
def my_func(param1 = 'default'):
    """
    Docstring goes here.
    """
    print(param1)

In [3]:
my_func

In [4]:
my_func()

default

In [5]:
# 함수 my_func를 통해서 파라미터에 들어가 있는 string형태의 데이터를 print하게 된다.
my_func('new param')

new param

In [6]:
my_func(param1 = 'new param')

new param

In [7]:
def square(x):
    return x**2

In [8]:
out = square(2)

In [9]:
print(out)

4

In [10]:
# 함수 my_func를 통해서 파라미터에 들어가 있는 string형태의 데이터를 print하게 된다.
my_func(3)

3

In [11]:
# square라는 이름의 함수는 숫자 하나를 받아들여서 그 숫자의 제곱값을 내 놓는 기능을 한다.
def square(x):
    return x**2

In [12]:
# square라는 함수에 2라는 숫자를 파라미터로 넣어서 그 결과값을 out이라는 변수에 담아 둔다.
out = square(2)

In [13]:
# out에 담긴 2**2가 출력된다.
print(out)

4

In [14]:
def times2(x):
    return x*2

In [23]:
out = times2(2)

In [24]:
print(out)

4

In [25]:
# var(variable : 변수)라는 피라미터를 받아서, 그것의 *2값을 출력하도록 하는 time2라는 이름의 함수
def time2(var):
    return var*2

map and filter

In [30]:
# seq라는 이름의 변수에 [1,2,3,4,5]라는 리스트를 넣는다.
seq = [1,2,3,4,5]

In [31]:
# seq안에 1,2,3,4,5가 있고 time2는 2배 곱하는 거니까 seq안에 있는 변수들에 각각 2씩 곱해서 이런 결과가 나온거다
list(map(time2,seq))

[2, 4, 6, 8, 10]

In [32]:
# seq에 있는 리스트 내용의 전체를 앞에서 부터 하나씩 time2라는 함수의 파라미터로 넣어서 list 형태로 출력해준다.
# map은 괄호 안에 첫번재 나오는 함수 time2와 seq를 하나씩 짝 지어주는 내장함수이다.
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [3]:
seq = [1,2,3,4,5]

In [34]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15]

In [35]:
list(map(lambda var: var*0.5,seq))

[0.5, 1.0, 1.5, 2.0, 2.5]

In [36]:
# filter는 조건에 맞는 부분만 출력해주는 것이다. 그래서 lambda에 item이라는 변수에 seq의 리스트 내용 중 앞에서 부터 하나씩 넣었을 때
# 해당 item을 2로 나눈 나머지가 0인 것만 빼서 출력해준다.
list(map(lambda var: var*2,seq[:2]))

[2, 4]

In [4]:
list(filter(lambda var: var%2==1,seq))

[1, 3, 5]

methods

In [37]:
st = 'hello my name is Sam'

In [38]:
st.lower()

'hello my name is sam'

In [39]:
st.upper()

'HELLO MY NAME IS SAM'

In [40]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [41]:
tweet = 'Go Sports! #Sports'

In [44]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [46]:
tweet.split("#")[1]

'Sports'

In [10]:
t = lambda var:var*2

In [11]:
t(6)

12

In [12]:
dic1 = {'a':1, 'b':2, 'c':3}

In [13]:
dic1
#dic1은 dictionary라는 형태의 데이터 타입.
# dictionary의 데이터는 key와 value로 구성되어 있다.

{'a': 1, 'b': 2, 'c': 3}

In [14]:
dic1.keys()

dict_keys(['a', 'b', 'c'])

In [15]:
dic1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [16]:
dic1.values()

dict_values([1, 2, 3])

In [30]:
lst = [1,2,3,4,5,6,7]

In [18]:
popednumber = lst.pop()

In [19]:
popednumber

7

In [21]:
popednumber1 = lst.pop()

In [22]:
popednumber1

5

In [23]:
lst

[1, 2, 3, 4]

In [29]:
lst.pop()

IndexError: pop index out of range

In [39]:
lst=[1,2,3,4]

In [40]:
popednumber2 = lst.pop(0)

In [33]:
popednumber2

1

In [34]:
lst

[2, 3, 4]

In [36]:
lst = [2,3,4,'new']

In [37]:
lst

[2, 3, 4, 'new']

In [41]:
lst.append('new')

In [42]:
lst

[2, 3, 4, 'new']

In [43]:
'x' in [1,2,3]
# 'x' 가 [1,2,3] 안에 없으니 False

False

In [44]:
'x' in ['x','y','z']
# 'x' 가 ['x','y','z']안에 있으니 True

True

In [26]:
x = [(1,2),(3,4),(5,6)]

In [50]:
x[0]

(1, 2)

In [54]:
x[0][1]

2

In [55]:
for x in (x[0:3]):
    print(x)

(1, 2)
(3, 4)
(5, 6)

In [28]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [64]:
for (a,b) in x:
    print(b)

2
4
6

In [65]:
# for a, b in x: 와 같이 적어도 똑같다.
for (a, b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [1]:
def findCat(st):
    return 'cat' in st.lower().split()

In [2]:
findCat('Is there a cat here?')

True

In [3]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [4]:
countDog('This dog runs faster than the other dog dudel')

2

In [6]:
seq = ['soup','dog','salad','cat','great']

In [7]:
list(filter(lambda word: word[0]== 's',seq))

['soup', 'salad']

In [11]:
def countS(st1):
    count = 0
    for word in st1.lower().split():
        if word[0] == 's':
            count += 1
    return count

In [12]:
st2 = 'soup dog salad catgreat'
countS(st2)

2

In [14]:
def caught_speeding(number):
    
    if number >= 90:
        print('A학점')
    elif number >= 80:
        print('B학점')
    elif number >= 70:
        print('C학점')
    elif number < 70:
        print('낙제')

In [15]:
caught_speeding(70)

C학점

In [16]:
conda install numpy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda